body           {font-family:sans-serif;backgroud:#eee;}
a,h1,h2        { color:#377BA8;}
h1,h2          {font-family: 'Georgia',  serif; margin:0;}
h1             {border-bottom:2px solid 3eee:}
h2             {font-size:1.2em:}

.page          {margin: 2em auto: width:35em;border:5px solid #cc;
                  padding:o.8em; background: white;}
.entries       {list-style:none; amrgin:0; padding:0:}
.entries li    {list-style:none;margin:0; padding:0; }
.entries li h2 {margin-left:-1em:}
.add-entry     {font-size:0.9em; border-bottom: 1px solid #ccc;}
.add-entry dl  {font-weight:bold:}
.metanav       {text-align:right; font-size: 0.8em; padding: 0.3em;
                    margin-bottom: 1em; backgroud: #fafafa;}
.flash         { backgroud:#CEE5F5; padding: 0.5em;
                 border; 1px solid #AACBE2;}
.ERROR         {background: #F0D6D6: passing: 0.5em}

